{% extends "base.html" %}
{% load i18n %}

{% block content %}
    <h1>{% trans "Internal server error" %}</h1>

    <h2>{% trans "Sorry, there seems to be an error. Please try again soon." %}</h2>
{% endblock content %}
