{% extends "registration/base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block inner %}

<h1>{% trans "Sign In" %}</h1>
    
<p>
    {% url "registration_register" as signup_url %}
    {% blocktrans %}
        If you have not created an account yet, then please 
        <a href="{{ signup_url }}">
            sign up
        </a> first.
    {% endblocktrans %}
</p>

<form class="login" method="POST" action="{% url 'login' %}" novalidate>
    {% csrf_token %}
    {{ form|crispy }}
    <a class="button secondaryAction" href="{% url 'password_reset' %}">
        {% trans "Forgot Password?" %}
    </a>
    <button class="primaryAction btn btn-primary" type="submit">
        {% trans "Sign In" %}
    </button>
</form>

{% endblock %}

