{% extends "registration/base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block messages %}
    {% if user.is_authenticated %}
        <div class="alert alert-info">
            {% trans "You are already logged in" %}
        </div>
    {% endif %}
{% endblock messages %}

{% block inner %}

    <h1>{% trans "Password Reset" %}</h1>
    

    <p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>

    <form method="POST" action="{% url 'password_reset' %}" class="password_reset" novalidate>
        {% csrf_token %}
        {{ form|crispy }}
        <input class="btn btn-primary" type="submit" value="{% trans 'Reset My Password' %}" />
    </form>

    <p>{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>
{% endblock inner %}
