{% extends "registration/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Password changed" %}{% endblock %}

{% block inner %}
    <h1>{% trans "Password changed" %}</h1>

    <p>{% blocktrans %}Your password has been changed successfully.{% endblocktrans %}</p>

{% endblock inner %}

