{% extends "registration/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block messages %}
    {% include "registration/snippets/already_logged_in.html" %}
{% endblock messages %}

{% block inner %}
    <h1>{% trans "Password Reset" %}</h1>

    <p>{% blocktrans %}We have sent you an e-mail. Please contact us if you do not receive it within a few minutes.{% endblocktrans %}</p>
{% endblock inner %}

