{% extends "registration/base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block head_title %}
    {% trans "Signup" %}
{% endblock head_title %}

{% block inner %}
    <h1>{% trans "Sign Up" %}</h1>

    <p>
        {% url "login" as login_url %}
        {% blocktrans %}
            Already have an account? Then please <a href="{{ login_url }}">
                sign in
            </a>.
        {% endblocktrans %}
    </p>

    <form class="signup" id="signup_form" method="post" action="{% url 'registration_register' %}" novalidate>
        {% csrf_token %}
        {{ form|crispy }}
        <button class="btn btn-primary" type="submit">
            {% trans "Sign Up" %} &raquo;
        </button>
    </form>

{% endblock inner %}

